LinkedList/cmake-build-debug/*
.idea/*
cmake-build-debug/*
*.exe
cmake-build-Debug/*
.cache/*
compile_commands.json
Stack/StackUsingLinkedList/cmake-build-debug/*
cmake_build_Debug
Graph/cmake-build-debug/CMakeFiles
